# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List of commonly used libraries in Data Science
- List of Data Science Tools
- List of popular languages for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Seaborn

| Data Science Tools |
| ------------------ |
| Jupyter Lab        |
| Apache Zeppelin    |
| R Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Erick Alberto Madrigal Reyes